fastapi
uvicorn
tensorflow-serving-api
python-multipart
tensorflow
tensorflow_hub
numpy
pandas
matplotlib
seaborn
scikit-learn
imbalanced-learn
opencv-python
Pillow
gensim

python-levenshtein
tensorflow_hub
tensorflow_text